brotlipy==0.7.0
conda==23.3.1
filelock==3.12.2
fsspec==2023.6.0
huggingface-hub==0.15.1
jsonpointer==2.1
numpy==1.24.3
pandas==2.0.2
py4j==0.10.9.7
pyarrow==12.0.0
pyspark==3.4.0
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
regex==2023.6.3
safetensors==0.3.1
tokenizers==0.13.3
transformers==4.30.2
typing_extensions==4.6.3
tzdata==2023.3
sentencepiece==0.1.99
kenlm @ https://github.com/kpu/kenlm/archive/master.zip